*,
::before,
::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: sans-serif;
}
.hero-main {
  background-color: #23424A;
  color: #fff;
}

.hero-main .container {
  margin: auto;
  width: 80%;
  max-width: 1170px;
}

.hero-content {
  width: 60%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.hero-content h1 {
  font-size: 3rem;
  line-height: 3.5rem;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}

.hero-content p {
  font-size: 1.2rem;
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
a.btn-hero {
  color: #072A2D;
  font-size: 1.2rem;
  text-transform: uppercase;
  background-color: #38CFD9;
  padding: 1em 2em;
  text-decoration: none;
  border-radius: 2rem;
  margin-top: 1.5rem;
  font-weight: 700;
}
a.btn-hero:hover,
a.btn-hero:focus,
a.btn-hero:visited{
  opacity: 0.9;
}

@media screen and (max-width: 768px) {
  .hero-content {
    width: 100%;
    align-items: center;
    text-align: center;
    height: auto;
    padding: 3rem 0px;
  }
  a.btn-hero {
    font-size: 1rem;
    padding: 1em 2em;
    margin-top: 1rem;
  }
}